body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  scrollbar-width: 10px;
  scrollbar-color: black;
}
#main {
  width: 100%;
  height: 5000px;
}
#header {
  width: 100%;
  height: 2%;
  margin: auto;
  background-image: linear-gradient(
    to right,
    rgb(15, 130, 148),
    rgb(15, 130, 148),
    rgb(255, 255, 255)
  );
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1000;
}
#headernav {
  width: 70%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-around;
}
.nav {
  width: 10%;
  height: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(164, 235, 244);
  margin-top: auto;
  margin-bottom: auto;
  font-family: sans-serif;
  font-weight: bold;
  display: grid;
  place-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5%;
}
.nav:hover {
  width: 10%;
  height: 53%;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgba(8, 9, 22, 0.653);
  background-color: rgb(15, 130, 148);
  transition: 0.3s ease;
  transform: translateY(-3px);
}
.nav:active {
  width: 10%;
  height: 54%;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(255, 247, 247);
  border-bottom: 3px solid rgba(255, 255, 255, 0.653);
  transition: 0.2s ease;
}
#profile {
  width: 20%;
  height: 55%;
  background-color: rgb(205, 223, 223);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px rgb(0, 255, 191);
}
#profileimage {
  width: 20%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}
#profilename {
  width: 70%;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#news {
  width: 100%;
  height: 0.5%;
  background-color:#01576E;
  text-align: start;
  font-family:Arial;
  color: white;
}
#maincontent {
  width: 100%;
  height: 90%;
  background-color: rgb(192, 242, 236);
}
.box {
  width: 100%;
  height: 20%;
}
#box1 {
  background-color: rgb(251, 251, 251);
  background-image: url(img/color.jpg);
  background-size: cover;
}
#welcome {
  width: 50%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;

}
#welhome{
  font-weight: bold;
  color: white;
}
#welmeg{
  opacity: 0.5;
  color: white;
  transition: color 0.8 ease-in-out;
}
#welcomecontent {
  width: 90%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
#welcomeparagraph {
  width: 60%;
  height: 90%;
  font-family: Arial;
  font-size: medium;
  font-weight: bold;
  text-align: justify;
  line-height: 200%;
  margin-top: auto;
  margin-bottom: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: grid;
  place-items: center;
  color: rgb(255, 255, 255);
}
#welcomeimage {
  width: 30%;
  height: 70%;
  border:2px solid #01576E;
  border-radius:5%;
  background-size: cover;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url(img/code1.jpg);
  transition: background-image 0.8s ease-in-out;
}
#quotes {
  width: 80%;
  height: 20%;
  border: 2px rgb(255, 255, 255) solid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  color: white;
  place-items: center;
}
#box2 {
  border-top:2px solid rgb(255, 255, 255);
    background-image: linear-gradient(
    to bottom,
    #004B69,
    #007f93,
    #004B69
  );
}
#box3 {
  background-color: antiquewhite;
}
#box4 {
  background-color: rgb(187, 139, 91);
}
#box5 {
  background-color: antiquewhite;
}
#footer {
  width: 100%;
  height: 7.5%;
  background-image: linear-gradient(to right, rgb(0, 0, 0)), url(img/space.jpg);
}
