body{
    margin: 0px;
    background-color: black;
}
#main{
    width:100%;
    height:5000px;
    background-color: rgb(255, 255, 255);

}
#header{
    width:100%;
    height:2%;
    margin: auto;
    background-color: rgb(15, 130, 148);
    display: flex;
    justify-content: space-around;
}
#headernav{
    width:70%;
    height:80%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
}
.nav{
    width:10%;
    height:50%;
    color: rgb(0, 0, 0);
    background-color: rgba(16, 18, 45, 0.653);
    margin-top: auto;
    margin-bottom: auto;
    font-family:sans-serif;
    font-weight: bold;
    display: grid;
    place-items: center;
    justify-content:center;
     overflow: hidden;
      text-overflow: ellipsis;
     white-space: nowrap;
    border-radius:5%;
}
.nav:hover{
    width:10%;
    height:53%;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 3px solid  rgba(8, 9, 22, 0.653);
    background-color:rgb(15, 130, 148);
    transition:0.3s ease;
    transform: translateY(-3px);
}
.nav:active{
    width:10%;
    height:54%;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(255, 247, 247);  
    border-bottom: 3px solid  rgba(247, 248, 254, 0.653);
    transition:0.2s ease;
}
#profile{
     width:20%;
    height:55%;
    background-color: rgb(205, 223, 223);
    margin-top: auto;
    margin-bottom: auto;
    border-radius:4%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(5, 122, 15);
}
#profileimage{
    width:20%;
    height:90%;
    background-color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 100%;
}
#profilename{
    width:70%;
    height:80%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    overflow: hidden;  
     text-overflow: ellipsis;
     white-space: nowrap;
}

#news{
    width:100%;
    height:0.5%;
    background-color: rgb(198, 199, 200);
}
marquee{
    color: rgb(0, 13, 255);
    font-family: sans-serif;
}
.box{
    width:100%;
    height:10%;
    background-color:whitesmoke;
    border-bottom: 1px solid black;
}
#footer{
    width:100%;
    height:6.5%;
    background-color:dimgray;
}
#links{
    width:100%;
    height:1%;
    background-color: rgb(0, 0, 0);
}